div(ng-include='"components/navbar/navbar.html"')
.container.with-nav
  .col-md-8.col-md-offset-2
    br
    br
    h2 Thank You!
    p.pending-approval-message
      | Keep an eye on your inbox. You should receive a notification in the next 
      | 24 hours letting you know that your account has been confirmed.
