$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  &.active {
    @include animation(progress-bar-stripes 2s linear infinite);
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/add-event/add-event.scss';
@import 'admin/admin.scss';
@import 'admin/delete-event/delete-event.scss';
@import 'admin/edit-event/edit-event.scss';
@import 'admin/manage-users/manage-users.scss';
@import 'main/main.scss';
@import 'timeline/timeline.scss';
@import 'photo-upload/photo-upload.scss';
// endinjector