div.modal-header
  h3.modal-title Welcome!
div.modal-body
  p
    | We created this website as a way to share our daughter's life with those we know and love. 
    | In order to make sure that you are actually someone that we love
    | (or at least someone that we know) we ask that you create an account. Once we've confirmed
    | that we know who you are, you'll get an email notification and you will be able to see all the cute baby pictures
    | you can handle. <br><br>
    | -Jacob & Hannah
div.modal-footer
  button.btn.btn-primary(ng-click="setCookie('jsm-signup-notice')") OK