//- .upload-wrap
//-   button.btn.btn-primary(type='button')
//-     span(ng-if='!filename') Choose file
//-     span(ng-if='filename') Replace file
//-   a(hg-href='{{ filename }}' target='_blank' ng-if='filename') Stored file
//-   .progress.progress-striped(ng-class='{active: uploading}' ng-show='attempt' style='margin-top: 10px')
//-     .bar(style='width: {{ progress }}%;' ng-class='barClass()')
//-   input(type='file' style='display: none;')